<div class="big-card-container">
    <div class="big-card-image">
        <a href="{{ cardUrl }}">
            <img 
            src="{{ cardImage }}" 
            alt=""
            height="200px">
        </a>
    </div>
    <div class="big-card-title">
        <h1>
            <a href="{{ cardUrl }}">
                {{ cardTitle }}
            </a>
        </h1>
    </div>
    <div class="big-card-description">
        <p>
            <a href="{{ cardUrl }}">
                {{ cardDescription }}
            </a>
        </p>
    </div>
</div>
