.big-card-container {
    width: 400px;
    height: 400px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card-image > img{
    width: 100%;
    min-width: 400px;
}

.big-card-title h1 {
    margin-top: 12px;
    font-size: 24px;
}

.big-card-description {
    margin-top: 10px;
}

.big-card-description > p > a {
    margin-top: 12px;
    color: gray;
}