.menu-title-container{
    color: white;
}

.menu-title-container > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 200px;
    display: flex;
    justify-content: center;
}

.menu-title-container > hr {
    margin-top: 20px;
    margin-bottom: 20px;
}