.small-card-container {
    margin-bottom: 20px;
}

.small-card-image > img{
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

.small-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card-separator {
    margin-top: 15px;
}
