.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
}

.articles > .main-articles {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

